<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:background-color="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .divTable,.divTable2, #addDiv {
            margin-top: 15px;
            margin-bottom: 15px;
            margin-right: 30px;
            margin-left: 15px;

            padding-top: 15px;
            padding-right: 15px;
            padding-bottom: 15px;
            padding-left: 15px;

            background-color: #ffffff
        }

        #divTabContent {
            background-color: #ebebe0;
            height: 100vh;
        }

        #idRow1 {
            height: 100vh;
        }

        #li1, #li2 {
            flex: 100%;
        }

        #ul {
            /*display: flex;*/
        }

        #idInfo {
            padding: 0;
        }

        #divMainUl {
            clear: both;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        #adminH1, #adminH12, #addUserH1 {
            padding-left: 15px;
        }

    </style>
    <title>Список пользователей</title>

</head>
<body>


<div class="container-fluid" style="background-color: #000000">
    <nav class="navbar navbar-default">
        <div class="navbar navbar-header">
            <p class="navbar-brand"><h6 class="text-light">admin@mail.ru with role: ADMIN USER</h6> </p>
        </div>
        <div>

            <h7><a th:href="@{/logout}" class="text-muted">Logout</a></h7>
        </div>
    </nav>
</div>
<div class="row" id="idRow1">

    <div class="col-md-1 " id="divMainUl">

        <ul class="nav nav-pills" role="tablist" id="ul">
            <li class="nav-item " id="li1"><a href="#idAdmin" class="nav-link active" role="tab" data-toggle="pill">Admin</a>
            </li>
            <li class="nav-item" id="li2"><a href="#idUser" class="nav-link" role="tab" data-toggle="pill">User</a></li>

        </ul>
    </div>
    <div class="col-md-11" id="idInfo">
        <div class="tab-content" id="divTabContent">
            <div role="tabpanel" class="tab-pane fade show active" id="idAdmin">
                <h1>Admin panel</h1>


                <div class="container-fluid">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item"><a href="#adminPanelShow" class="nav-link active" role="tab"
                                                data-toggle="tab">Users table</a></li>
                        <li class="nav-item"><a href="#addUser" class="nav-link" role="tab" data-toggle="tab">New User</a></li>

                    </ul>

                </div>
                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane fade show active" id="adminPanelShow">
                        <div id="adminH1"><h6>All users</h6></div>
                        <div class="divTable">
                            <table class="table table-striped">

                                <thead th:border="3">
                                <tr>
                                    <th>ID</th>
                                    <th>name</th>
                                    <th>money</th>
                                    <th>role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>

                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="user: ${users}">
                                    <tr>
                                        <td th:text="${user.getId()}"></td>
                                        <td th:text="${user.getUsername()}"></td>
                                        <td th:text="${user.getMoney()}"></td>
                                        <td th:text="${user.getAuthorities()}"></td>
                                        <td>


                                            <input type="submit" value="Edit" data-toggle="modal"
                                                   data-target="#ModalEdit"
                                                   style="background-color: #0070BC"
                                                   th:data-name="${user.getUsername()}"
                                                   th:data-money="${user.getMoney()}"
                                                   th:data-password="${user.getPassword()}"
                                                   th:data-authorities="${user.getAuthorities()}"
                                                   th:data-id="${user.getId()}">


                                            <div id="ModalEdit" class="modal fade">
                                                <div class="modal-dialog modal-sm">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Edit user</h4>
                                                            <button class="close" data-dismiss="modal">x</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-md-2"></div>
                                                                <div class="col-md-8">

                                                                    <form action="/admin/update" method="post">

                                                                        <input type="hidden" th:name="updataId"
                                                                               id="inputId">
                                                                        <div class="form-group">
                                                                            <div class="row">
                                                                                <div class="col-md-4"></div>
                                                                                <div class="col-md-4">
                                                                                    <label class="control-label">Name</label>
                                                                                </div>
                                                                                <div class="col-md-4"></div>
                                                                            </div>
                                                                            <div></div>

                                                                            <input type="text" th:name="name"
                                                                                   placeholder="имя"
                                                                                   class="form-control"
                                                                                   id="inputName">

                                                                        </div>

                                                                        <div class=”form-group”>
                                                                            <div class="row">
                                                                                <div class="col-md-4"></div>
                                                                                <div class="col-md-4">
                                                                                    <label class="control-label">Password</label>
                                                                                </div>
                                                                                <div class="col-md-4"></div>
                                                                            </div>
                                                                            <input type="text" th:name="password"
                                                                                   placeholder="пароль"
                                                                                   class="form-control"
                                                                                   id="inputPassword">
                                                                        </div>

                                                                        <div class=”form-group”>
                                                                            <div class="row">
                                                                                <div class="col-md-4"></div>
                                                                                <div class="col-md-4">
                                                                                    <label class="control-label">Money</label>
                                                                                </div>
                                                                                <div class="col-md-4"></div>
                                                                            </div>
                                                                            <input type="text" th:name="money"
                                                                                   placeholder="деньги"
                                                                                   id="inputMoney"
                                                                                   class="form-control">
                                                                        </div>

                                                                        <div class=”form-group”>
                                                                            <div class="row">
                                                                                <div class="col-md-4"></div>
                                                                                <div class="col-md-4">
                                                                                    <label class="control-label">Role</label>
                                                                                </div>
                                                                                <div class="col-md-4"></div>
                                                                            </div>
                                                                            <select class="form-control" name="role"
                                                                                    id="select">
                                                                                <option value="ROLE_ADMIN">
                                                                                    ROLE_ADMIN
                                                                                </option>
                                                                                <option value="ROLE_USER">ROLE_USER
                                                                                </option>
                                                                                <option value="ROLE_ADMIN,ROLE_USER">
                                                                                    ROLE_ADMIN,ROLE_USER
                                                                                </option>
                                                                            </select>

                                                                        </div>
                                                                        <div class="form-group"></div>
                                                                        <div class="row">
                                                                            <div class="col-md-2"></div>
                                                                            <div class="col-md-5">
                                                                                <button type="submit"
                                                                                        class="btn btn-secondary btn-block"
                                                                                        data-dismiss="modal">Close
                                                                                </button>
                                                                            </div>
                                                                            <div class="col-md-5">
                                                                                <button type="submit"
                                                                                        class="btn btn-success btn-block">
                                                                                    <h8>Edit</h8>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <div class="col-md-2"></div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </td>
                                        <td>
                                            <input type="submit" value="Delete" data-toggle="modal"
                                                   data-target="#ModalDelete"
                                                   style="background-color: #F40009"
                                                   th:data-name="${user.getUsername()}"
                                                   th:data-money="${user.getMoney()}"
                                                   th:data-password="${user.getPassword()}"
                                                   th:data-authorities="${user.getAuthorities()}"
                                                   th:data-id="${user.getId()}">

                                            <div id="ModalDelete" class="modal fade">
                                                <div class="modal-dialog modal-sm">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Edit user</h4>
                                                            <button class="close" data-dismiss="modal">x</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-md-2"></div>
                                                                <div class="col-md-8">

                                                                    <form action="/admin/delete" method="post">

                                                                        <input type="hidden" th:name="deleteId"
                                                                               id="inputIdDelete">
                                                                        <div class="form-group">
                                                                            <div class="row">
                                                                                <div class="col-md-4"></div>
                                                                                <div class="col-md-4">
                                                                                    <label class="control-label">Name</label>
                                                                                </div>
                                                                                <div class="col-md-4"></div>
                                                                            </div>
                                                                            <div></div>

                                                                            <input type="text" th:name="name"
                                                                                   placeholder="имя"
                                                                                   class="form-control"
                                                                                   id="inputNameDelete"
                                                                                   disabled="disabled">

                                                                        </div>

                                                                        <div class=”form-group”>
                                                                            <div class="row">
                                                                                <div class="col-md-4"></div>
                                                                                <div class="col-md-4">
                                                                                    <label class="control-label">Password</label>
                                                                                </div>
                                                                                <div class="col-md-4"></div>
                                                                            </div>
                                                                            <input type="text" th:name="password"
                                                                                   placeholder="пароль"
                                                                                   class="form-control"
                                                                                   id="inputPasswordDelete"
                                                                                   disabled="disabled">
                                                                        </div>

                                                                        <div class=”form-group”>
                                                                            <div class="row">
                                                                                <div class="col-md-4"></div>
                                                                                <div class="col-md-4">
                                                                                    <label class="control-label">Money</label>
                                                                                </div>
                                                                                <div class="col-md-4"></div>
                                                                            </div>
                                                                            <input type="text" th:name="money"
                                                                                   placeholder="деньги"
                                                                                   id="inputMoneyDelete"
                                                                                   class="form-control"
                                                                                   disabled="disabled">
                                                                        </div>

                                                                        <div class=”form-group”>
                                                                            <div class="row">
                                                                                <div class="col-md-4"></div>
                                                                                <div class="col-md-4">
                                                                                    <label class="control-label">Role</label>
                                                                                </div>
                                                                                <div class="col-md-4"></div>
                                                                            </div>
                                                                            <input type="text" class="form-control"
                                                                                   th:name="role"
                                                                                   id="selectDelete"
                                                                                   disabled="disabled">


                                                                        </div>
                                                                        <div class="form-group"></div>
                                                                        <div class="row">
                                                                            <div class="col-md-2"></div>
                                                                            <div class="col-md-5">
                                                                                <button type="submit"
                                                                                        class="btn btn-secondary btn-block"
                                                                                        data-dismiss="modal">Close
                                                                                </button>
                                                                            </div>
                                                                            <div class="col-md-5">
                                                                                <button type="submit"
                                                                                        class="btn btn-danger btn-block">
                                                                                    <h8>Delete</h8>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <div class="col-md-2"></div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="addUser">
                        <div id="addUserH1"><h6>Add new user</h6></div>
                        <div class="row" id="addDiv">
                            <div class="col-md-5"></div>
                            <div class="col-md-2">
                                <form action="/admin/add" method="post">

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">
                                                <label class="control-label">Name</label>
                                            </div>
                                            <div class="col-md-4"></div>
                                        </div>
                                        <input required type="text" th:name="name" placeholder="имя"
                                               class="form-control">
                                    </div>

                                    <div class=”form-group”>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">
                                                <label class="control-label">Password</label>
                                            </div>
                                            <div class="col-md-4"></div>
                                        </div>
                                        <input required type="text" th:name="password" placeholder="пароль"
                                               class="form-control">
                                    </div>

                                    <div class=”form-group”>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">
                                                <label class="control-label">Money</label>
                                            </div>
                                            <div class="col-md-4"></div>
                                        </div>
                                        <input required type="text" th:name="money" placeholder="деньги"
                                               class="form-control">
                                    </div>

                                    <div class=”form-group”>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">
                                                <label class="control-label">Role</label>
                                            </div>
                                            <div class="col-md-4"></div>
                                        </div>
                                        <select class="form-control" name="role_id">
                                            <option id="role1" value="ROLE_ADMIN">ROLE_ADMIN</option>
                                            <option id="role2" value="ROLE_USER">ROLE_USER</option>
                                            <option id="role3" value="ROLE_ADMIN,ROLE_USER">ROLE_ADMIN,ROLE_USER
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group"></div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-9">
                                            <button type="submit" class="btn btn-success btn-block">
                                                <h8>Add new user</h8>
                                            </button>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>


                                </form>
                            </div>
                            <div class="col-md-5"></div>
                        </div>

                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade " id="idUser">
                <h1>User panel</h1>


                <div id="adminH12"><h6>User</h6></div>
                <div class="divTable2">
                    <table class="table table-striped">

                        <thead th:border="3">
                        <tr>
                            <th>ID</th>
                            <th>name</th>
                            <th>money</th>
                            <th>role</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${userID}"></td>
                            <td th:text="${userName}"></td>
                            <td th:text="${userMoney}"></td>
                            <td th:text="${userRole}"></td>


                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/javaScriptFile.js}"></script>


</body>
</html>